*{
    padding: 0px;
    margin: 0px;
    @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&family=Sixtyfour&display=swap'); 
    font-family: 'Sixtyfour', sans-serif;
}

.main{
    background-color: black;
    margin-top: 0px;
    color: white;
    height: 100vh;
}
.title{
    background-color: rgb(61, 58, 58);
    width: 700px;
    color: white;
    height: 70px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row2{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;

}
.row2_box{
    height: 58px;
    width: 265px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 20px;
    padding: 10px;
    margin-top: auto;
}
.displaybox{
    border: 1px solid white;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
     font-family: 'Pixelify Sans', sans-serif;;

}
.row3{
    margin-top: 5%;
    margin-bottom: 20px;
    /* height: 50px; */
}
#message{
    height: 40px;
    width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}
.row4{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
#check{
    height: 50px;
    width: 100px;
    border: 1px solid rgb(61, 58, 58);
    background-color: rgb(61, 58, 58);
    border-radius: 20px;
    color: white

}
#again
{
    height: 50px;
    width: 100px;
    border: 1px solid rgb(61, 58, 58);
    background-color: rgb(61, 58, 58);
    border-radius: 20px;
    color: white
}

#input{
    height: 50px;
    border: 1px solid rgb(61, 58, 58);
    background-color: rgb(61, 58, 58);
    /* border-radius: 20px; */
    color: white;
    width: 140px;
    font-size: large;
}